@mixin flexbox($disply, $justify, $align){
    display: $disply;
    justify-content: $justify;
    align-items: $align;
    @content;
    
}

@mixin hrLine($width, $height){
    width: $width;
    height: $height + px;
    background-color: rgb(167, 165, 165);
    @content;
}

@mixin position($position, $top, $left){
    position: $position;
    top: $top;
    left: $left;
}